#m_header{
    border-bottom:1px solid #ccc;
    background: #F2F2F2;
    font-size: 12px;
        .container{
        $lineh:32px;
        .home{
            display:block;
            line-height: $lineh;
            padding:0 20px;
            color:#333333;
        }
        .header_top{
            li{float:left;
            line-height: $lineh;
            
                a{
                    color:#666666;
                    border-right:1px solid #ccc;
                    padding:0 10px;
                }
            }
        }
    }
}
$index_color:#FF167B;
$input_c:#f07;
#m_footer{
    padding-top: 50px;
    padding-bottom: 60px;
    .helper{
        border-bottom: 2px solid #FF5777;
    
        .helper_mod{
            float:left;
            height: 100px;
            width: 25%;
            div{
                padding-left: 20px;
                padding-left: 20px;
            }
            h4{
                font-size: 14px;
                margin-left: 40px;
                margin-bottom: 10px;
                height: 25px;
                line-height: 25px;
                overflow: hidden;
            }
            li{
                float:left;
                display: inline-block;
                width: 100px;
                height: 20px;
                line-height: 20px;
                color: #999;
                font-size: 12px;
                padding-left:20px;
            }
            li:hover{
                color:#f57;
            }
        }

    }
    .other_link{
        margin-bottom: 8px;
        line-height: 27px;
        border-bottom: 1px solid #ddd;
        p{margin: 5px 0;
            a{
                color: #666;
                font-size: 12px;
                padding:0 10px;
                border-right:1px solid #ccc;
            }
            a:hover{
                color:#f57;
            }
        }

    }
    .other_link{
        margin-bottom: 8px;
        line-height: 27px;
        border-bottom: 1px solid #ddd;
        p{margin: 5px 0;
            a{
                color: #666;
                font-size: 12px;
                padding:0 10px;
                border-right:1px solid #ccc;
            }
            a:hover{
                color:#f57;
            }
        }
    }
    .mgj_info{
        min-height: 20px;
        margin-top: 10px;
        li{float:left;
            display:inline-block;
            // width: 80px;
            height: 20px;
            line-height: 20px;font-size: 12px;
            padding-right: 10px;
            color:#999;
             a{
                font-size: 12px;
                color: #666;
            }
            a:hover{
                color:#f57;
            }
        }
        
    }
    .copyright{
        color: #999;
        font-size: 12px;
        line-height: 24px;
    }
}
